<%= simple_form_for quote, html: { class: "space-y-4" } do |f| %>
  <% if quote.errors.any? %>
    <div class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span><%= quote.errors.full_messages.to_sentence.capitalize %></span>
    </div>
  <% end %>

  <div class="form-control w-full">
    <%= f.input :name, 
        label: "Name", 
        input_html: { 
          class: "input input-bordered w-full", 
          autofocus: true, 
          placeholder: "Enter quote name" 
        }, 
        label_html: { class: "invisible" },
        wrapper: false %>
  </div>
  
  <div class="form-control">
    <%= link_to "Cancel", quotes_path, class: "btn btn--light" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
